<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Day5</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./eta.component.css">
    </head>
    <body class="body">
        <div class="container" id="bookcontainer">
          <div id="bookshadow">

          </div>
            <div id="product-area">
                <table class="product-table" id="prodtab">
                    <thead>
                      <th>Book Name</th>
                      <th>Book Price ($)</th>
                      <th>Author Name</th>
                      <th>Publishing Year</th>
                    </thead>
                    <tbody *ngFor="let book of books">
                      <tr>
                        <td>{{book.name}}</td>
                        <td>{{book.price}}</td>
                        <td>{{book.auth}}</td>
                        <td>{{book.year}}</td>
                      </tr>
                    </tbody>
                </table>
                <button class="clicker" id="deletebutt" (click)="burnBooks()">Delete All Books</button>
            </div>
            <br>
            <br>
            <div class="input">
              <label for="name">Book Name</label>
              <input type="text" id="name" [value]="name" [(ngModel)]="name">
              <br>
              <label for="price">Book Price ($)</label>
              <input type="text" id="price" [value]="price" [(ngModel)]="price">
              <br>
              <label for="auth">Author Name</label>
              <input type="text" id="auth" [value]="auth" [(ngModel)]="auth">
              <br>
              <label for="year">Publishing Year</label>
              <input type="text" id="year" [value]="year" [(ngModel)]="year">
              <br>
              <button class="clicker" id="additem" (click)="addBook()">Add Item</button>
            </div>
            <br>
        </div>

        <script src="script.js" async defer></script>
    </body>
</html>
