<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Day4</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./zeta.component.css">
    </head>
    <body>
      <h1 class="intro">Component 6: Simple Math Quiz App</h1>
      <br>
      <br>
        <div class="container">
            <div class="question">
                <h2>What is</h2>
                <button class="clicker" id="num1">{{val1}}</button>
                <button class="clicker" id="op">{{opera}}</button>
                <button class="clicker" id="num2">{{val2}}</button>
            </div>
            <br>
            <div class="input">
                <input type="number" id="myAns" [value]="myans" [(ngModel)]="myans">
                <button class="clicker" id="check" [disabled]="over" (click)="answer()">Submit</button>
            </div>
            <br>
            <br>
            <div class="result">
                <label for="you">Your answer</label>
                <input type="text" id="you" class="arena-fields" disabled="true" [value]="myans">
                <label for="pc">Correct answer</label>
                <input type="text" id="pc" class="arena-fields" disabled="true" [value]="correctans">
                <br>
                <button id="light" [innerHTML]="lighttext" [style.background]="color"></button>
            </div>
            <br>
            <div class="win-loss-area">
                <label for="win">Wins</label>
                <input type="number" id="win" class="win-loss-area-fields" [value]="wins" disabled="true">
                <label for="los">Losses</label>
                <input type="number" id="los" class="win-loss-area-fields" [value]="losses" disabled="true">
            </div>
            <br>
            <button class="clicker" (click)="again()">Reset</button>
        </div>

        <script src="script.js" async defer></script>
    </body>
</html>
