<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Day4</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./epsilon.component.css">
    </head>
    <h1 class="intro" id="realintro">Component 5: List App</h1>
      <br>
      <br>
    <body class="listbody">
      <div class="listcontainer">
          <h1 class="intro">Shopping List</h1>
          <div class="input">
              <input type="text" id="item" [value]="initem" [(ngModel)]="initem">
              <br>
              <button class="clicker" id="additem" (click)="addItem()">Add Item</button>
          </div>
          <br>
          <div class="stuff">
            <ul class="hand" *ngFor="let item of items" >
              <li>
                <label>{{item}}</label>
                <input type="checkbox">
              </li>
            </ul>
          </div>
      </div>
      <div class="delete">
          <button class="clicker" id="deletebutton" (click)="kill()">Delete checked items</button>
      </div>

    </body>
</html>
